{% extends 'todo/base.html' %}
{% load custom_filters %}
{% block title%}{{project.title}}{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column ">
            <h2>{{project.title}}</h2>
            <p class="w-80">{{project.description}}</p>
        </div>
    <div class="d-flex flex-column">
        <form method="post" class="mt-4">
            {% csrf_token %}
            <button type="submit" name="delete" class="btn btn-danger">delete</button>
        </form>
        <a href="{% url 'update-project' pk=project.pk %}" name="edit" class="btn btn-danger mt-2">Edit</a>
    </div>
    </div>
    <hr>
    <div class="row d-flex">
        <div class="col-12">
            <div class="board d-flex">
                <div class="mx-2 overflow-auto">
                    <div class="d-flex">
                        {% for status in project.tasks.all|pluck_status|unique %}
                        <div id="task-list-one" class="task-list-items pe-3">
                            <h6 class="mt-0 task-header">{{status}}</h6>
                            {% if status == 'assigned' %}
                                <a href="{% url 'add-task' pk=project.pk %}">+ New task</a>
                            {% endif %}
                            {% for task in project.tasks.all %}
                                {% if task.status == status %}       
                                    {% include 'todo/task_card.html' with task=task %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}